@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --RAL1016: #f1dd38;
  --PRINTBLACK: #2b2b2b;
  --PRINTWHITE: #ffffffe8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: medium;
  color: var(--PRINTBLACK);
  margin: 1em;
  background-color: var(--PRINTWHITE);
}

.legal {
  font-family: 'Inter', sans-serif;
  font-size: small;
  color: #c0c0c0;
  margin: 1em;
  width: 50vw;
}

.flex-slides {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:center;
  padding: 2em;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2em;
}

.div-legal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

a {
  color: var(--PRINTBLACK);
  text-decoration: none;
  padding: 0.5em;
}

.blurb{
  font-size:x-large;
  width: 50vw;
}

.banner-img {
  width: 50vw;
}

a:hover {
  background-color: #ffffff;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(61deg) brightness(104%) contrast(112%);
}

@media only screen and (max-width: 999px) {
  .banner-img{
    width: 80vw;
  }
  .blurb{
    width: 90vw;
  }
  .legal{
    width: 90vw;
  }
}