@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --RAL1016: #f1dd38;
  --PRINTBLACK: #2b2b2b;
  --PRINTWHITE: #ffffffe8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: medium;
  color: var(--PRINTBLACK);
  margin: 1em;
  background-color: var(--PRINTWHITE);
  border: 0em;
}

a {
  color: var(--PRINTBLACK);
}

a:hover {
  color: var(--RAL1016);
}

.legal {
  font-family: 'Inter', sans-serif;
  font-size: small;
  color: #c0c0c0;
  margin: 1em;
  width: 50vw;
}

.flex-slides {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2em;
}

.flex-text-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 2em;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2em;
  color: var(--PRINTBLACK);
  text-decoration: none;
  font-size: large;
  border: 0em;
}

.flex-nav a {
  color: var(--PRINTBLACK);
  text-decoration: none;
  border: 0em;
}

.flex-nav a:hover {
  color:#f1dd38;
  text-decoration: none;
  border: 0em;
}

.flex-legal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blurb {
  font-size: x-large;
  width: 50vw;
}

.banner-img {
  width: 50vw;
}

video {
  width: 50vw;
  max-height: 100%;
}

@media only screen and (max-width: 999px) {
  .banner-img {
    width: 80vw;
  }

  .blurb {
    width: 90vw;
  }

  .legal {
    width: 90vw;
  }

  video {
    width: 80vw;
  }
}